@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);
@charset "UTF-8";
/*

  VARS.SCSS

  EZOOM
  Rodrigo Nishino <rodrigo.nishino@ezoom.com.br>

  MOBILE FIRST!

  USE VARIÁVEIS NATIVAS DE CSS AQUI
  PARA QUE ELAS POSSAM SER AJUSTADAS
  POR ALGUM SCRIPT LÁ NO FRONT
  EVENTUALMENTE NÉ

*/
:root {
  --mobile: 425px;
  --tablet: 768px;
  --laptop: 1440px;
  --sectionPadding: 32px;
  --stylishHeight: 80vh;
  --cardBorder: 1px solid red;
}
@media (min-width: var(--tablet)) {
  :root {
    --sectionPadding: 100px;
    --stylishHeight: 100vh;
  }
}

.common-form .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 1250px) {
  .common-form .row {
    flex-direction: row;
    justify-content: space-between;
  }
}
.common-form .row .field {
  display: flex;
  align-items: center;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  margin: 0.3rem 0;
  width: 100%;
  max-height: 44px;
}
@media screen and (min-width: 1250px) {
  .common-form .row .field {
    width: unset;
    margin: 0.3rem;
    flex: 1 1 auto;
  }
}
.common-form .row .field .select2 {
  min-width: 200px;
}
.common-form .row .field.no-attributes {
  padding: 0;
  border: none;
}
.common-form .row .field.radio-field {
  margin: 0.75rem 0 0;
}
@media screen and (min-width: 1250px) {
  .common-form .row .field.radio-field {
    margin: 0 0 0 1rem;
    text-align: center;
    flex: auto 0 1;
  }
}
.common-form .row .field input {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 100%;
  color: #232323;
  font-size: 13px;
}
.common-form .row .field input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #565656;
  font-size: 13px;
  height: 44px;
}
.common-form .row .field input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #565656;
  font-size: 13px;
  height: 44px;
}
.common-form .row .field input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #565656;
  font-size: 13px;
  height: 44px;
}
.common-form .row .field input[type=radio] {
  margin: 0 5px 0 0;
  height: 16px;
  width: 16px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #a8a8a8;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
.common-form .row .field input[type=radio]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #EF7D00;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #EF7D00;
  display: block;
}
.common-form .row .field input[type=radio]:checked::before {
  transform: translate(-50%, -50%) scale(1);
}
.common-form .row .field label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #232323;
  font-size: 13px;
}
.common-form .row .field svg {
  margin-right: 0.75rem;
}
.common-form .row .field svg path {
  fill: #EF7D00;
}
.common-form .row .common-button {
  border-radius: 5px;
  margin: 1rem 0 1rem;
}
@media screen and (min-width: 1250px) {
  .common-form .row .common-button {
    margin-left: 1.5rem;
  }
}

#blog {
  padding: 5rem 0;
  background-color: #F1F1F1;
}
#blog .blog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#blog .blog-title .title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
}
@media screen and (min-width: 960px) {
  #blog .blog-title .title {
    font-size: 36px;
  }
}
#blog .blog-title .common-button {
  padding: 0.75rem 1.5rem;
  margin: 0;
}
#blog .blog-swiper {
  padding: 4rem 0;
}
#blog .blog-swiper .swiper-wrapper .swiper-slide {
  position: relative;
  min-height: 360px;
}
#blog .blog-swiper .swiper-wrapper .swiper-slide:first-child {
  padding-left: 0;
}
#blog .blog-swiper .swiper-wrapper .swiper-slide:hover .swiper-slide-image::before {
  opacity: 0.3;
}
#blog .blog-swiper .swiper-wrapper .swiper-slide .swiper-slide-image {
  height: 360px;
  width: 100%;
}
#blog .blog-swiper .swiper-wrapper .swiper-slide .swiper-slide-image::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.2s ease-in-out;
  background-color: #000;
  opacity: 0.4;
  z-index: 3;
}
#blog .blog-swiper .swiper-wrapper .swiper-slide .swiper-slide-info .slide-content-title {
  margin: 1.5rem 0 1rem;
  display: flex;
  justify-content: space-between;
}
#blog .blog-swiper .swiper-wrapper .swiper-slide .swiper-slide-info .slide-content-title span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: block;
  line-height: 1.5;
  color: #2d2d2d;
}
@media screen and (min-width: 960px) {
  #blog .blog-swiper .swiper-wrapper .swiper-slide .swiper-slide-info .slide-content-title span {
    font-size: 22px;
    width: 80%;
  }
}
@media screen and (min-width: 960px) {
  #blog .blog-swiper .swiper-wrapper .swiper-slide .swiper-slide-info .slide-content-title svg {
    height: auto;
    width: 32px;
  }
}
#blog .blog-swiper .swiper-wrapper .swiper-slide .swiper-slide-info .slide-content-title svg path {
  stroke: #2d2d2d;
}
#blog .blog-swiper .swiper-wrapper .swiper-slide .swiper-slide-info .slide-content-date {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #565656;
  text-transform: uppercase;
}
#blog .blog-swiper .swiper-pagination {
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  top: unset;
  background-color: #d7d7d7;
  border-radius: 20px;
}
#blog .blog-swiper .swiper-pagination .swiper-pagination-progressbar-fill {
  background-color: #EF7D00;
  border-radius: 20px;
}

#home .gradient-wrapper {
  transition: 0.2s all ease-in;
  background-image: linear-gradient(to bottom left, #35003c, #ff04c0);
  position: relative;
}
#home .gradient-wrapper.active .gradient-overlay {
  opacity: 0;
}
#home .gradient-wrapper .gradient-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom left, #35003c, #ff04c0);
  transition: opacity 0.4s ease-in;
  z-index: 0;
  opacity: 1;
}
#home .gradient-wrapper #banner {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
#home .gradient-wrapper #banner .swiper {
  width: 100%;
  transition: 0.2s width ease-in-out;
}
#home .gradient-wrapper #banner .swiper.shorter {
  width: 90%;
}
#home .gradient-wrapper #banner .swiper .swiper-wrapper {
  position: relative;
}
#home .gradient-wrapper #banner .swiper .swiper-wrapper .swiper-slide {
  position: relative;
}
#home .gradient-wrapper #banner .swiper .swiper-wrapper .swiper-slide .swiper-slide-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  display: flex;
}
#home .gradient-wrapper #banner .swiper .swiper-wrapper .swiper-slide .swiper-slide-video video {
  min-height: 100vh;
  width: auto;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #banner .swiper .swiper-wrapper .swiper-slide .swiper-slide-video {
    height: 100vh;
    width: 100%;
    display: inline-block;
  }
}
#home .gradient-wrapper #banner .swiper .swiper-wrapper .swiper-slide .swiper-slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#home .gradient-wrapper #banner .swiper .swiper-wrapper .swiper-slide .swiper-slide-content {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#home .gradient-wrapper #banner .swiper .swiper-wrapper .swiper-slide .swiper-slide-content .title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #FFF;
  opacity: 0.4;
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #banner .swiper .swiper-wrapper .swiper-slide .swiper-slide-content .title {
    font-size: 78px;
    width: 50%;
  }
}
#home .gradient-wrapper #banner .swiper .swiper-wrapper .swiper-slide .swiper-slide-content .common-button {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.75rem 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #banner .swiper .swiper-wrapper .swiper-slide .swiper-slide-content .common-button {
    bottom: 140px;
  }
}
#home .gradient-wrapper #banner .swiper .swiper-navigation {
  display: none;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #banner .swiper .swiper-navigation {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 70px;
    width: 125px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transform: translateX(-50%);
    z-index: 3;
  }
  #home .gradient-wrapper #banner .swiper .swiper-navigation .swiper-divisor {
    height: 100%;
    width: 1px;
    background-color: #FFF;
    opacity: 0.6;
  }
  #home .gradient-wrapper #banner .swiper .swiper-navigation .swiper-button {
    left: unset;
    right: unset;
    top: 7px;
    position: relative;
  }
  #home .gradient-wrapper #banner .swiper .swiper-navigation .swiper-button::after {
    font-size: 14px;
    color: #FFF;
  }
}
#home .gradient-wrapper #banner .swiper .swiper-pagination {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #banner .swiper .swiper-pagination {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 50px;
    display: flex;
    align-items: center;
  }
}
#home .gradient-wrapper #banner .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #FFF;
  margin: 0 0.5rem;
  position: relative;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #banner .swiper .swiper-pagination .swiper-pagination-bullet {
    margin: 0.25rem 0;
  }
}
#home .gradient-wrapper #banner .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 2px solid #FFF;
}
#home .gradient-wrapper #banner .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 4px;
  width: 4px;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  border-radius: 50%;
}
#home .gradient-wrapper #models {
  padding: 6rem 0;
  text-align: center;
  position: relative;
  transition: background-image 0.2s ease-in-out;
}
#home .gradient-wrapper #models .models-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: #FFF;
}
#home .gradient-wrapper #models .swiper {
  padding: 0 3rem;
  position: relative;
}
#home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide {
  position: relative;
  text-align: center;
  padding: 0 0.75rem;
}
#home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide:not(.swiper-slide-active) .swiper-slide-content {
  display: none;
}
#home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-image {
  display: flex;
  align-items: flex-end;
  min-height: 250px;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-image {
    min-height: 560px;
  }
}
#home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-image::before {
  content: attr(data-abrv);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 5em;
  opacity: 0;
  color: #FFF;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-image::before {
    font-size: 20em;
    opacity: 0.1;
  }
}
#home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-image .lazyload-image {
  height: auto;
  width: 100%;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-image .lazyload-image {
    width: auto;
    margin: 0 auto;
    max-height: 400px;
  }
}
#home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-content {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0 2rem;
    text-align: left;
    width: 90%;
  }
}
#home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-content .block {
  color: #FFF;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-content .block {
    width: calc(33.3333333333% - 2rem);
  }
  #home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-content .block:not(:last-child) {
    margin-right: 1rem;
  }
}
#home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-content .block .block-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 26px;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-content .block .block-title {
    font-size: 36px;
  }
}
#home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-content .block .block-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  margin: 2rem 0;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-content .block .block-subtitle {
    margin: 1rem 0;
  }
}
#home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-content .block .block-text {
  display: none;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-content .block .block-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    display: block;
    color: #FFF;
  }
}
#home .gradient-wrapper #models .swiper .swiper-wrapper .swiper-slide .swiper-slide-content .block .common-button {
  padding: 0.75rem 1.5rem;
}
#home .gradient-wrapper #models .swiper .swiper-navigation {
  display: none;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #models .swiper .swiper-navigation {
    height: auto;
    width: 100%;
    display: block;
  }
  #home .gradient-wrapper #models .swiper .swiper-navigation .swiper-button {
    height: 38px;
    width: 38px;
    transition: 0.2s opacity ease-in-out;
  }
  #home .gradient-wrapper #models .swiper .swiper-navigation .swiper-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    box-shadow: 0 0 0 1px #FFF;
    border-radius: 50%;
  }
  #home .gradient-wrapper #models .swiper .swiper-navigation .swiper-button::after {
    content: none;
  }
  #home .gradient-wrapper #models .swiper .swiper-navigation .swiper-button svg {
    height: 16px;
    width: 16px;
  }
  #home .gradient-wrapper #models .swiper .swiper-navigation .swiper-button.swiper-button-prev {
    transform: rotate(180deg);
    transform-origin: center;
    left: 10%;
  }
  #home .gradient-wrapper #models .swiper .swiper-navigation .swiper-button.swiper-button-next {
    right: 10%;
  }
}
#home .gradient-wrapper #models .swiper .swiper-pagination {
  height: 1px;
  width: calc(100% - 6rem);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  top: unset;
  background-color: #ababab;
  border-radius: 20px;
}
@media screen and (min-width: 960px) {
  #home .gradient-wrapper #models .swiper .swiper-pagination {
    width: calc(90% - 6rem);
    height: 2px;
  }
}
#home .gradient-wrapper #models .swiper .swiper-pagination .swiper-pagination-progressbar-fill {
  background-color: #FFF;
  border-radius: 20px;
}
#home #assistance {
  position: relative;
  padding: 10% 0 36vw;
  background-color: #FFF;
}
#home #assistance .common-limiter {
  text-align: center;
}
#home #assistance .common-limiter .assistance-wrapper {
  max-width: 680px;
  margin: 0 auto;
}
#home #assistance .common-limiter .assistance-wrapper .assistance-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1250px) {
  #home #assistance .common-limiter .assistance-wrapper .assistance-title {
    font-size: 48px;
  }
}
#home #assistance .common-limiter .assistance-wrapper .common-text {
  max-width: 380px;
  margin: 0 auto 1.5rem;
}
#home #assistance .common-limiter .assistance-wrapper .common-form .row .field {
  border: none;
  border-bottom: 1px solid #E0E0E0;
  border-radius: 0;
}
#home #assistance .common-limiter .assistance-wrapper .common-form .row .field .input-field {
  text-align: center;
}
#home #assistance .common-limiter .assistance-wrapper .common-form .row .field svg path {
  stroke: #EF7D00;
  fill: transparent;
}
#home #assistance .common-limiter .assistance-wrapper .common-form .common-button {
  margin: 1rem auto;
}
