//
// _details.scss
//

details
{
  border: 1px solid #bebebe;
  margin: 24px 0px;
  padding: 16px;
  border-radius: 5px;
}

details summary
{
  margin: -16px;
  padding: 16px;
  background-color:#ebeef7;
}

details[open] summary
{
  margin-bottom: 16px;
}
