//
// file-image.scss
//

.file-image{ margin-bottom: 40px; }

.file-image .valuedefined label
{
  font-size: 1.6em;
}

.file-image img.thumb
{
  border-radius: 6px;
  background: #dedede;
}

.file-image p
{
  margin-bottom: 0.5em;
}
